* {
  box-sizing: border-box;
}



body {
  box-sizing: border-box;
  font-family: Shadows Into Light ,sans-serif;
  background-image: url("./imgs/halftone-yellow.png");
}


#root {
  display: block;
  padding: 2rem;
  color: black;
}

.full-bloom {
  background-image: url("./imgs/full-bloom.png");
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
  padding: 0.5rem;
}

.main-page-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.main-item-title {
  padding-bottom: 0.5rem;
}

.main-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
}

.main-button {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
}

.main-item {
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.disclaimer-page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.disclaimer-list > * {
  list-style: none;
}

.disclaimer-button-panel {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  align-items: center;
}

.confirm-button {
  margin-bottom: 1rem;
}

.open-id-wiki {
  margin-top: 1.5rem;
}

.open-id-help {
  margin-top: 1.5rem;
}

.collection-page-container {
  text-align: center;
}

.collection-page-title-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.collection-page-button-panel {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-page-button-panel button {
  margin: 0.2rem;
}

.seat-selection-page-container {
  text-align: center;
}

.seat-selection-page-title-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.option-item li {
  list-style: none;
}

.option-item:first-child {
  margin-bottom: 1rem;
}

.seat-self-selection-status {
  border-radius: 2px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.self-selection-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-list {
  margin-top: 1rem;
}

.auto-selection-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.automation-middle-part {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.auto-option-item:nth-child(2) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.auto-start-button {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
}

.auto-end-button {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 10px 10px rgba(0, 0, 0, 0.23);
}



#reservation-log {
  overflow-y: scroll;
  height: 300px;
  padding: 1rem;
}

@media(min-width: 540px) {
  html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}